<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Wallet Utility</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/user-details">Wallet Details</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link"
					th:href="@{/wallet-details/get-wallet-details}">Get Wallet
						Amount</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/wallet-details/update-wallet-details}">Fund Wallet</a>
				</li>
			</ul>
		</div>
	</nav>
	<div th:fragment="content">
		<div class="container mt-4">
			<div th:replace="get-wallet-details :: content"></div>
        <div th:replace="update-wallet-details :: content"></div>
		</div>
	</div>
</body>
</html>